
  <form #assessmentForm="ngForm" (ngSubmit)="assessmentForm.valid && onSubmit(assessmentForm)" style="width: 20%;">
    <input type="text" #fullName="ngModel" [(ngModel)]="AssessmentsService.selectedAssessment.assessmentname" name="assessmentname" placeholder="Assessment Name"
    required  [ngClass]="{'invalid-textbox' :assessmentForm.submitted && !assessmentname.valid }">
    <div *ngIf="assessmentForm.submitted && !fullName.valid">
      <label class="validation-message">This field is required.</label>
    </div>
   
    <br>
    <input type="submit" value="Save">
  </form>
  
  <!-- Success message -->
  <div class="success" *ngIf="showSucessMessage">
    Saved successfully
  </div>    
  
  <!-- Error message -->
  <div class="alert" *ngIf="serverErrorMessages">
    {{serverErrorMessages}}
  </div>